h2 {
  font-family: 'Marck Script','Bad Script', 'Staatliches',  cursive !important;

}
h3 {
  font-family: 'Bad Script','Staatliches', 'Marck Script',  cursive !important;
}
h4 {
  font-family: 'Staatliches', 'Bad Script',   cursive !important;
}

h1 {
  margin: 1rem 0 !important;
}
.lyrics-box {
  font-size: 25px;
  font-family: 'Bad Script', cursive !important;
  font-weight: 400;
  border: 1px solid #333;
  padding: 15px;
  max-width: 550px;
  border-radius: 15px;
}
.availability-alert {
  background: #ff00009e !important;
  color: #fff !important;
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%) */
}
@media only screen and (max-width: 600px) {
    .availability-alert {
      font-size: 2rem !important;
    }
  }
  @media only screen and (min-width: 922px) {
    .availability-alert {
      font-size: 3rem !important;
    }
  }



  